* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 501px;
  margin: 0 auto;
}
.container h1 {
  margin-top: 30px;
}

.container form {
  display: grid;
  margin-top: 20px;
  padding: 20px;
  gap: 10px;
  font-family: "Courier New", Courier, monospace;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.container form input {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
}

.container form input:focus {
  outline: none;
  border-color: #007bff;
}

button {
  background-color: #00b38f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-style: italic;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #486c65;
}

.form-success {
  display: none;
  margin-top: 20px;
  background-color: rgb(94, 94, 223);
  padding: 15px;
  font-size: 1rem;
}

.form-error {
  display: none;
  margin-top: 20px;
  background-color: rgb(226, 121, 121);
  padding: 15px;
  font-size: 1rem;
}
